[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-shortcuts = "*"
djangorestframework = "*"
celery = "*"
django-celery-beat = "*"
redis = "*"
vine = "*"
django-celery-results = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.9"
